langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface
langchain-groq
langchain-google-genai
langchain-openai
faiss-cpu
pypdf
sentence-transformers
transformers
torch
huggingface-hub
groq
streamlit
langsmith
python-dotenv
tiktoken
rank-bm25
